<a href="https://colab.research.google.com/github/akashsinghsharma/python-notes/blob/main/Complete_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is the lab where anyone intrested in python can start from scratch and learn everything about it. I will start with what basic of all python code and later will see different data structures in python and different operations.

The most basic code for any coding language is to get it to print something. In python it's really simple.

In [1]:
print('Hello world, why do you exist?')

Hello world, why do you exist?

Just use print command, give it things to print inside () and it will do exactly that. We pass "" inside () when we want it to print any "string" meaning words, letters, etc.

We can also define variables and make python print that.

In [2]:
a = 56
b = 120

print(b)

120

We can also define variable as string like below.

In [4]:
a = 'Akash'
print(type(a))

<class 'str'>

Data Types in python:

1. String: Like the one we have seen above. It contains words, sentences, etc. Anything we pass in with "" will be contained as string, be it number, symbols or anything else.

2. Integer: Anything related to numbers.

In [5]:
print(type(b))

<class 'int'>

3. Float: We can also store float, i.e. number with decimal points.

In [6]:
c = 56.233
print(type(c))

<class 'float'>

We can also convert int into float class by passing it through float()

In [8]:
d = float(b)
print(d)
type(d)

120.0

float

4. List: It's is used to store multiple items together, be it integer, float, integer, or anything. It's stored with [].

In [11]:
list1= ['akash', 'kumar', '564', 'Singh sharma', '5698']

Lists are indexed as well, meaning you can pull anyone word/int/etc out of list by using index. You can use double index to pull something inside any item in list too.

In [12]:
list1[0]

'akash'

In [13]:
list1[-1]

'5698'

In [14]:
list1[4]

'5698'

In [15]:
list1[-1::-1]

['5698', 'Singh sharma', '564', 'kumar', 'akash']

In [16]:
list1[-1::-2]

['5698', '564', 'akash']

In [17]:
list1[0][0]

'a'

We can also use list methods to insert more items inside a list. We will use .insert() and .append() for it.

In [18]:
list1.insert(4, 'Rudra')

In [19]:
list1

['akash', 'kumar', '564', 'Singh sharma', 'Rudra', '5698']

In [21]:
list1.append('Ravi')
list1.append('Ravi')
list1

['akash', 'kumar', '564', 'Singh sharma', 'Rudra', '5698', 'Ravi', 'Ravi']