<a href="https://colab.research.google.com/github/akashsinghsharma/python-notes/blob/main/Essential_DSA_for_Data_Science_and_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics of Programming - one
***

This part will go through some of basics of programming and cover some very basic questions.

**Some good practices during interview.**
***
1. In interviews, something called a pattern printing is asked quite a lot of times. We can do it with hardcore programming, but better to do it with flexibility to change the size shape of pattern in required inputs.

2. Microservices: A work is broken down in multiple work, when subworks are done than work is done. This is called microservices. To achieve something, its a good idea to break it down into many function.

Let's go through some basic questions.

In [ ]:
# q1. https://leetcode.com/problems/fibonacci-number/description/

def fibo(n):

  n0 = 0
  n1 = 1

  fibo_list = [n0, n1]

  for _ in range(n-1):
    n2 = n0 + n1
    n0 = n1
    n1 = n2
    fibo_list.append(n2)

  return fibo_list[-1]

In [ ]:
fibo(10)

55

***
# Pattern Problem in Python
***

There is a generic way to solve almost all python pattern problem (or other language, here I will focus on Python)

1. focus on the first line
2. count no of stars and no of spaces
3. make it generic equation using table
4. write relation of rth line and (r+1)th line

Q1. Print following pattern for n = 5. The shape will change as n will change.:

```

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *
```

In [ ]:
def pattern_01(N):
    nst = 1 #nst is number of star, focus on first line. See how many there are in first line
    nsp = N - 1 #nsp is number of space, again see first line.

    # Observe and make a table for if n is 5, 6, etc. Note the relation and how will nst change in different n. nst will remain 1 always, however nsp will change.
    # nsp will be n - 1.

    for r in range(1, N + 1): #we are running loop to print n lines, so 1 to n+1.
        # print spaces first (according to this problem, we are looping first for space.
        for csp in range(1, nsp + 1):    #csp is count of space
            print("  ", end="")   #Note I am putting two spaces here, pattern will look at same just a bit clear.
                                  #Note that by default print changes line and have end = '\n'. We are changing it.

        # after space, we will print stars
        for cst in range(1, nst + 1):    #cst is count of star
            print("* ", end="")    #Here there is one space after *.

        nst += 1    #Here we are writting relation between rth and r+1 line. number of stars are increasing and number of space is decreasing.
        nsp -= 1
        print()    #This will just change the line after every one line

In [ ]:
pattern_01(10)

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

Q2. Print following pattern for n = 5. The shape will change as n will change.:

```
* * * * *
  * * * *
    * * *
      * *
        *
```

In [ ]:
def pattern_02(N):
    nst = N
    nsp = 0

    for r in range(1, N + 1):
        # spaces
        for csp in range(1, nsp + 1):
            print("  ", end="")

        # star
        for cst in range(1, nst + 1):
            print("* ", end="")

        nst -= 1
        nsp += 1
        print()

In [ ]:
pattern_02(5)

* * * * *
  * * * *
    * * *
      * *
        *

Q3. Print following pattern for n = 5. The shape will change as n will change.:

```

*
* *
* * *
* * * *
* * * * *
```

In [ ]:
def pattern_03(N):
    nst = 1
    nsp = 0 #No space before star. There is just one star and blank.

    for r in range(1, N + 1):
        # star pattern: as there are space by default. we just need to print *
        for cst in range(1, nst + 1):
            print("* ", end="")

        nst += 1
        print()

In [ ]:
pattern_03(5)

*
* *
* * *
* * * *
* * * * *

Q4. Print following pattern for n = 5. The shape will change as n will change.:

```

* * * * *
* * * *
* * *
* *
*
```

In [ ]:
def pattern_04(N):
    nst = N
    nsp = 0

    for r in range(1, N + 1):
        # for star
        for cst in range(1, nst + 1):
            print("* ", end="")

        nst -= 1
        print()

In [ ]:
pattern_04(5)

* * * * *
* * * *
* * *
* *
*

Q5. Print following pattern for n = 10
```
1  
2  3  
4  5  6  
7  8  9  10  
11  12  13  14  15  
16  17  18  19  20  21  
22  23  24  25  26  27  28  
29  30  31  32  33  34  35  36  
37  38  39  40  41  42  43  44  45  
46  47  48  49  50  51  52  53  54  55
```

If we can print star of that pattern, we just need to change it with number. Here we can print star using a simple for loop, for star. Replace it with count. Initiate count with 1.

In [1]:
def pattern_05(N):
    nst = 1
    count = 1
    for r in range(1, N + 1):
        for cst in range(1, nst + 1):
            print(count, " ", end="")
            count += 1

        nst += 1
        print()

In [2]:
pattern_05(10)

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15
16  17  18  19  20  21
22  23  24  25  26  27  28
29  30  31  32  33  34  35  36
37  38  39  40  41  42  43  44  45
46  47  48  49  50  51  52  53  54  55

Q6. Print a pattern for n = 5.

```
0  
1  1  
2  3  5  
8  13  21  34  
55  89  144  233  377
```

We need to replace star with fibo series here.

In [3]:
def pattern_06(N):
    nst = 1
    a = 0
    b = 1
    for r in range(1, N + 1):
        # star
        for cst in range(1, nst + 1):
            print(a, " ", end="")
            sum = a + b
            a = b
            b = sum

        nst += 1
        print()

In [4]:
pattern_06(5)

0
1  1
2  3  5
8  13  21  34
55  89  144  233  377

Q7. Print bionomial series.

```
1  
1  1.0  
1  2.0  1.0  
1  3.0  3.0  1.0  
1  4.0  6.0  4.0  1.0
```

>This is a standard que have been asked in interview a number of times

It's following pattern of

```
0C0
1C0   1C1
2C0   2C1   2C2
3C0   3C1   3C2    3C3
```

ncr = n!/(n-r)!r!

>Here, we will see relation between ncr and nc(r+1).
>nc(r+1) = ( (n-r) / (r+1) ) * ncr

In [5]:
def pattern07_binomialSeries(N):
    nst = 1
    for n in range(0, N):
        # star
        val = 1
        for r in range(0, nst):
            print(val, " ", end="")
            val = (n - r) * val / (r + 1)

        nst += 1
        print()

In [6]:
pattern07_binomialSeries(5)

1
1  1.0
1  2.0  1.0
1  3.0  3.0  1.0
1  4.0  6.0  4.0  1.0