<a href="https://colab.research.google.com/github/akashsinghsharma/python-notes/blob/main/Python_for_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python for Data Analytics: Unlocking the Power of Data**

> Author: [Akash Kumar](https://www.linkedin.com/in/akashsinghsharmaa/) + Chat GPT 3.0

In [ ]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

x= zip(city_list, river_list)
x = list(x)
x

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra')]

This is the lab where anyone intrested in python can start from scratch and learn everything about it. I will start with what basic of all python code and later will see different data types in python and different operations. We will also see some most used python conecpts like loops and conditional statements.

---

# Basics Of Python

In the world of data analytics, Python has emerged as a powerhouse tool. Its simplicity, versatility, and extensive library ecosystem make it an ideal choice for data analysts. Whether you're just starting or looking to advance your skills, this post will guide you through the essentials of Python for data analytics. Let's dive in!
Python is a high-level, interpreted programming language known for its readability and simplicity. It serves as a solid foundation for data analytics tasks.

The most basic code for any coding language is to get it to print something. In python it's really simple.

In [ ]:
print('Hello world, why do you exist?')

Hello world, why do you exist?

Just use print command, give it things to print inside () and it will do exactly that. We pass "" inside () when we want it to print any "string" meaning words, letters, etc.

We can also define variables and make python print that.

In [ ]:
a = 56
b = 120

print(b)

120

We can also define variable as string like below.

In [ ]:
a = 'Akash'
print(a)

Akash

Note that To assign a value to a variable, we use the assignment operator (=). For example, my_age = 28 assigns the integer value 28 to the variable my_age.

To store any variable, python must know what kind of data it is. Let's learn about data types.

---

# Python Data Types

In Python, there are several built-in data types that you can use to store and manipulate different kinds of information. Let's explore some of the commonly used data types:

1. Integer (int): Integers represent whole numbers without decimal points. They can be positive, negative, or zero.
Example:

In [ ]:
my_age = 28

2. Floating-Point (float): Floating-point numbers represent numbers with decimal points. They can be used for precise numerical calculations.
Example:

In [ ]:
pi_value = 3.14

3. String (str): Strings are sequences of characters enclosed in single or double quotes. They are used to represent text or a combination of characters.
Example:

In [ ]:
my_name = "John Doe"

4. Boolean (bool): Booleans represent either True or False values. They are useful for logical operations and conditional statements.
Example:

In [ ]:
is_active = True

5. List: Lists are ordered collections of items, enclosed in square brackets. They can contain elements of different data types and can be modified.
Example:

In [ ]:
my_list = [1, "apple", True, 3.14]

6. Tuple: Tuples are similar to lists but are enclosed in parentheses. Unlike lists, tuples are immutable, meaning their values cannot be changed once assigned. We usually use them to store things that we won't change later in code, like say day, date, etc.
Example:

In [ ]:
my_tuple = (1, "apple", True, 3.14)

7. Set: Sets are unordered collections of unique elements. They are useful for performing mathematical set operations like union, intersection, and difference.
Example:

In [ ]:
my_set = {1, 2, 3, 4, 5}

8. Dictionary: Dictionaries are key-value pairs enclosed in curly braces. They allow you to store and retrieve values based on unique keys.
Example:

In [ ]:
my_dict = {"name": "John", "age": 28, "city": "New York"}

In Python, a dictionary is a collection of key-value pairs. It allows you to store and retrieve data using unique keys. The keys act as labels or identifiers, while the values represent the associated data.

Think of a dictionary as a real-world dictionary where words (keys) have corresponding definitions (values). Just like you can look up a word to find its meaning, in a Python dictionary, you can access a value by providing its corresponding key.

Here, "name", "age", and "city" are the keys, and "John", 28, and "New York" are the values, respectively. You can access the values using their respective keys, like `my_dict["name"]`, which would return "John".

---

To create an empty variable, you can assign it to a value of a specific data type. For instance, empty_list = [] assigns an empty list to the variable empty_list. Similarly, you can create an empty string, set, or dictionary using empty_string = "", empty_set = set(), and empty_dict = {}, respectively.

In [ ]:
empty_list = []
empty_string = ""
empty_set = set()
empty_dict = {}

print(empty_list)
print(empty_string)
print(empty_set)
print(empty_dict)

[]

set()
{}

Note that this essentially prints nothing, just blank list, string set, dict. This are used a lot in data analytics, we will see how later.

We can also check the data type of any variable by using set() function. Just write set(var_name) and python will tell the data type.

In [ ]:
print(type(empty_list))
print(type(empty_string))
print(type(empty_set))

#Same for other variable defined above.

<class 'list'>
<class 'str'>
<class 'set'>

Once we know about different data types, It is also important to know how to change one data type into another. Like it will be used a lot. Python takes input in as a string by default. Wait, you know how to take user input in python? Probably not. Well let me tell you that first.

In [ ]:
user_in1 = input()

55

In [ ]:
print(type(user_in1))

<class 'str'>

Yeah, so that's how you take user input. Note that pass any string inside input() and it will pop that up when it will ask for input. For eg: `input('Please put in some input, I will die without it o great warrior')` and it will pop that phrase up. Anyways.
So note that when I used type() function on it, it said string, even when it's int. Python is usuallty good when we assign values to variable, but while taking user input it by default takes in as string. So let's see how to convert string to int.

In [ ]:
user_in1 = int(user_in1)
type(user_in1)

int

We can also convert float to int.

In [ ]:
num_float = 3.14
num_int = int(num_float)

To convert an integer to a floating-point number, you can use the float() function. It takes the integer value as an argument and returns a floating-point representation.

Example:

In [ ]:
num_int = 10
num_float = float(num_int)

To convert a list to a set, you can use the set() function. It takes the list as an argument and returns a set containing its unique elements. This eliminates any duplicate values and creates an unordered collection of unique elements.

Example:

In [ ]:
my_list = [1, 2, 3, 4, 4, 5]
my_set = set(my_list)

To convert a dictionary to a list, you can use the list() function. It takes the dictionary as an argument and returns a list containing its keys. This allows you to extract the keys from the dictionary and use them as elements in a list.

Example:

In [ ]:
my_dict = {"name": "John", "age": 28, "city": "New York"}
my_list = list(my_dict)
print(my_list)

['name', 'age', 'city']

# Doing more with data types

# Conditional Statement

In Python, conditional statements are used to control the flow of a program based on certain conditions. They allow you to perform different actions or execute different blocks of code depending on whether a condition is true or false.

Think of conditional statements like decision-making tools. They help your program make choices and take different paths based on specific criteria. This is crucial in data analytics when you want to perform different operations or analyze data based on specific conditions.

Let's explore the basic structure of conditional statements in Python, along with examples:

If Statement:
The if statement is the simplest form of a conditional statement. It executes a block of code only if the specified condition is true.

In [ ]:
age = 25

if age >= 18:
    print("You are an adult.")

You are an adult.

*(vvi note: Notice something called indentation in python. After we use ':' after if statement, in next line it goers down with a tab. It's important and never remove it. Python uses it to understand it what to do after what))*

In this example, if the age is equal to or greater than 18, the code inside the if block will be executed, and it will print "You are an adult."

If-Else Statement:
The if-else statement allows you to execute one block of code when the condition is true and another block of code when the condition is false.

In [ ]:
num = 10

if num > 0:
    print("The number is positive.")
else:
    print("The number is zero or negative.")

The number is positive.

In this example, if the number is greater than zero, it will print "The number is positive." Otherwise, it will print "The number is zero or negative."

Conditional statements become more complex when you introduce elif (short for "else if") statements. They allow you to check additional conditions in a cascading manner.

In [ ]:
score = 85

if score >= 90:
    print("Excellent!")
elif score >= 80:
    print("Good job!")
elif score >= 70:
    print("Keep it up!")
else:
    print("You can do better!")

Good job!

# Loops and Iteration

In Python, loops are used for repetitive execution of a block of code. They allow you to iterate over a sequence or repeat a set of instructions until a certain condition is met. This is particularly useful in data analytics when you need to process large amounts of data or perform repetitive tasks efficiently.

Let's explore the two main types of loops in Python: for loops and while loops.

For Loop:
A for loop iterates over a sequence (such as a list, tuple, or string) or any iterable object. It executes a block of code for each element in the sequence.

In [ ]:
fruits = ["apple", "banana", "orange"]

for fruit in fruits:
    print(fruit)

apple
banana
orange

In this example, the for loop iterates over the "fruits" list and prints each fruit on a separate line.
Note that you can use any other word instead of 'fruit' and it will still work.

In [ ]:
fruits = ["apple", "banana", "orange"]

for i in fruits:
    print(i)

apple
banana
orange

But remember that it is always advisable to use variable name that is easier to read and understand.

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

Here, the for loop uses the range() function to generate a sequence of numbers from 0 to 4. It then prints each number in the sequence.

---

Let's read a little about range() function and then we will come back to this.
In Python, the range() function is used to generate a sequence of numbers. It provides a convenient way to iterate over a specific range of values or create a sequence of numbers that can be used in various programming contexts.

The range() function takes up to three arguments: start, stop, and step. Here's a brief explanation of each argument:

start (optional): Specifies the starting value of the sequence (inclusive). If omitted, it defaults to 0.

stop: Specifies the ending value of the sequence (exclusive). It does not include this value in the generated sequence.

step (optional): Specifies the difference between each consecutive number in the sequence. If omitted, it defaults to 1.

The range() function returns an iterable object that can be used in a for loop, converted to a list, or utilized in other iterable-related operations.

Example 1:

In [ ]:
for num in range(5):
    print(num)

0
1
2
3
4

In [ ]:
for num in range(1, 10, 2):
    print(num)

1
3
5
7
9

Here, the range(1, 10, 2) generates a sequence of odd numbers from 1 to 9. The for loop iterates over this sequence, and each odd number is printed.

The range() function is useful in various scenarios, such as when you need to iterate a specific number of times, generate indices for list operations, or create a custom numerical sequence.

---
Let's come back to our old topic of loops and iterations.

While Loop:
A while loop executes a block of code as long as a certain condition is true. It repeats the code until the condition becomes false.

In [ ]:
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In this example, the while loop prints the value of "count" and increments it by 1 in each iteration, until the condition count < 5 becomes false.

In [ ]:
num = 10

while num > 0:
    print(num)
    num -= 2

10
8
6
4
2

Here, the while loop prints the value of "num" and subtracts 2 from it in each iteration, until "num" becomes less than or equal to 0.

((Note that here `num -= 2` simply means `num = num - 2`, which updates the num variable in each iteration)).

In [ ]:
students = [
    {"name": "John", "age": 25},
    {"name": "Alice", "age": 22},
    {"name": "Mark", "age": 28}
]

for student in students:
    if student["age"] >= 25:
        print(student["name"])

John
Mark

The for loop iterates over the "students" list of dictionaries. It checks the age of each student and prints the name of students who are 25 years or older.

In [ ]:
num = 10

while num > 0:
    print(num)
    if num == 5:
        break
    num -= 1

10
9
8
7
6
5

The while loop prints the value of "num" and stops when "num" becomes 5, using the break statement to exit the loop prematurely.

Loops and iteration are powerful concepts in Python that allow you to automate repetitive tasks, iterate over data, and process information efficiently.

# Functions and Methods.

# Production Grade Programming

# PANDAS

Python pandas is like a powerful toolbox that helps us work with data in an organized and efficient way. It provides us with useful functions and tools to handle, manipulate, and analyze data effectively.

Here are a few important functions in pandas that are commonly used in data analytics projects:

In [ ]:
import pandas as pd #To import pandas library in workstation.

Importing Data:
Pandas allows us to import data from various file formats like CSV, Excel, or SQL databases. We can use functions like `read_csv()`,` read_excel()`, or `read_sql()` to load data into a pandas DataFrame, which is a tabular data structure used in pandas.

In [ ]:
# Read a CSV file into a DataFrame
# df = pd.read_csv('data.csv')   #Note: Remove comments# and fill up the location of correct file you want to input to use this code.

Display the first few rows of the DataFrame
`print(df.head())`

Get information about the DataFrame
`print(df.info())`

Calculate summary statistics of the DataFrame
`print(df.describe())`

Select specific columns
`selected_cols = df[['column1', 'column2']]`

Filter rows based on conditions
`filtered_data = df[df['column1'] > 10]`

In pandas, you can filter rows based on multiple conditions using logical operators like & (and) and | (or).
`filtered_data = df[(df['column1'] > a) & (df['column2'] > b)]`

Be consious on where we use & or |. Also note that many many conditions can be used in same line of code. It follows a hierirachical structure.
For eg: `[(condition 1) | ((condition 2) & (condition3))]`

Sort the DataFrame by a column
`sorted_data = df.sort_values('column1')`

Group data and perform calculations
`grouped_data = df.groupby('category')['column1'].mean()` #This groupby() will group data based on cetrogory and ['column1'].mean() will give back mean of column1 after the data frame is grouped by category. Note that we can use any of these functions alone.

Create a new column based on existing columns
`df['new_column'] = df['column1'] + df['column2']`

**iloc() and loc() function**

1. `.iloc`:

The .iloc indexer is used for integer-based indexing. It allows you to access DataFrame elements by specifying their integer-based positions (indices) regardless of the index labels.

Syntax: `dataframe.iloc[row_index, column_index]`

In [1]:
import pandas as pd

# Create a sample DataFrame with the help of dictonary in python.
data = {'Name': ['John', 'Alice', 'Bob', 'Jane'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Paris', 'London', 'Sydney']}
df = pd.DataFrame(data)

# Access a specific element
element = df.iloc[1, 2] # 1 is row index. 2 is column index. Remember that the indexing stars from 0 in python.
print(element)  # Output: Paris

# Access a specific row
row = df.iloc[2] #This will return row index 2, or 3rd row. It doesnt have any column index so it will just return all column.
print(row)
# Output:
# Name    Bob
# Age      35
# City    London
# Name: 2, dtype: object

# Access a specific column
column = df.iloc[:, 0] #This will return all the columns of 0th index column. i.e. first column.
print(column)
# Output:
# 0    John
# 1    Alice
# 2      Bob
# 3     Jane
# Name: Name, dtype: object

Paris
Name       Bob
Age         35
City    London
Name: 2, dtype: object
0     John
1    Alice
2      Bob
3     Jane
Name: Name, dtype: object

2. `.loc`:
The .loc indexer is used for label-based indexing. It allows you to access DataFrame elements using the row and column labels.

Syntax: `dataframe.loc[row_label, column_label]`

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'Jane'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Paris', 'London', 'Sydney']}
df = pd.DataFrame(data, index=['A', 'B', 'C', 'D'])

# Access a specific element
element = df.loc['B', 'City'] #This will give back row with B index (2nd) and from city column.
print(element)  # Output: Paris

# Access a specific row
row = df.loc['C'] #This will give all the columns of row C.
print(row)
# Output:
# Name    Bob
# Age      35
# City    London
# Name: C, dtype: object

# Access a specific column
column = df.loc[:, 'Age'] #All the rows of column Age.
print(column)
# Output:
# A    25
# B    30
# C    35
# D    40
# Name: Age, dtype: int64

Paris
Name       Bob
Age         35
City    London
Name: C, dtype: object
A    25
B    30
C    35
D    40
Name: Age, dtype: int64

**Lambda function**

---

Lambda functions in Pandas are a convenient way to apply custom logic or transformations to DataFrame columns or rows. A lambda function is an anonymous function that can be defined in a single line. It takes inputs, performs operations, and returns outputs.

In [5]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'Jane'],
        'Age': [25, 30, 35, 40]}
df = pd.DataFrame(data)
df

    Name  Age
0   John   25
1  Alice   30
2    Bob   35
3   Jane   40

In [6]:
# Apply a lambda function to create a new column
df['Age squared'] = df['Age'].apply(lambda x: x**2)

# Display the updated DataFrame
print(df)

    Name  Age  Age squared
0   John   25          625
1  Alice   30          900
2    Bob   35         1225
3   Jane   40         1600

Note that it's not that lambda function can be used in Python PANDAS only, we can use it just like we defined custom functions.

In [7]:
x = lambda a : a * a/2 #Defining a function x using lambda.
x(10) #Passing a variable a = 10 in x. Note that a is the variable and everything after ':' is opertaion that will be performed on a.

50.0

Back to the example of data frame, we can write lambda function in a different manner as well.

In [9]:
#Suppose we want to know what will be the age aftrer 10 years.

after_10 = lambda a: a+10

df['age after 10 year'] = df['age'].apply(after_10, axis = 1)

KeyError: ignored